// --- general resets ---
body {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    font-size: 100%;
    text-align: left;
  }
}
// ----------------------
// --- generic compact ---
h1, h2, h3, h4, h5, h6 {
  margin: 1ex 0;
}
div, span, section, nav, main, textarea, input, button {
  box-sizing: border-box;
}
section {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.vpad {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hpad {
  padding-left: 10px;
  padding-right: 10px;
}
// -----------------------

body {
  background-color: #FDFDFD;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  .left, .right {
    width: 50%;
    flex-grow: 1;
  }
}

.container {
  margin-left: 2ch;
}
